<h1>Editing</h1>
<form action="/post/update/<%= @post.id %>/" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Title : <input type="text" name="post_title" value="<%= @post.title %>"><br />
  Contents : <textarea name="post_content" rows="8" cols="80"><%= @post.content%></textarea><br />
  <input type="submit" value="submit">
</form>