<h1>Welcome to Hollys coffee</h1>
<a href="/post/new">Click to write your reviews</a><br /><br />
<% @posts.each do |p|%>
  Title : <%= p.title %><br />
  Contents : <%= p.content %><br />
  <a href="/post/edit/<%= p.id %>">[Edit]</a>
  <form action="/post/destroy/<%= p.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="Delete">
  </form>
  <hr />
<% end %>