<h1>Please write your reviews</h1>
<form action="/post/create" method="post">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Title : <input type="text" name="post_title" value=""><br />

  Contents : <textarea name="post_content" rows="8" cols="80"></textarea><br />

 <input type="submit" value="submit">
</form>